#buttons {
  height: 6vh;
  width: 30vh;
  margin-top: 5h;
}

#back-button {
  float: left; /*Left justify back button. (Back button'ı sola yasla.) */
}

#next-button {
  float: right; /*Right justify Next button. (Next button'ı sağa yasla.) */
}

body {
  display: flex;
  flex-direction: column; /* Lines vertically one under the other. (Dikeyde alt alta sıralar.) */
  align-items: center; /* Aligns the centre horizontally. (Yatayda merkezi hizalar.) */
  justify-content: center; /* Aligns the centre vertically. (Dikeyde merkezi hizalar.) */
  height: 100vh;
}

img {
  border: 2px solid black;
}

body.background {
  background: url("./assests/cat_bg.png");
}

#photo-area {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#photo-area img {
  max-width: 100%; /* Scales the picture to fit inside the container. (Resmi konteynerin içine sığacak şekilde ölçekler.)*/
  max-height: 100%; /* Adjusts the height while maintaining proportions. (Oranları koruyarak yüksekliği ayarlar.) */
  object-fit: contain;
}

#copy-link-area {
  float: left; /*Left justify the back button. (Back button'ı sola yasla.) */
}

#copy-button {
  float: right; /* Right justfiy the copy button. (Copy button'ı sağa yasla.) */
}

#bottom-bar {
  width: 60vh;
}

#copy-link-area,
#copy-button {
  display: inline-block; /* It places the elements horizontally.  (Elementleri yatayda yerleştirir). */
  vertical-align: top; /*Aligns content at the top. (İçeriklerin en üstte hizalanmasını sağlar.) */
  height: 100%;
  box-sizing: border-box; /* Allows borders and padding to be included. (Kenarlıkların ve dolgu (padding) dahil olmasını sağlar.) */
  padding: 0 10px; /* You can add space on the left and right edges of the content. (İçeriğin sol ve sağ kenarlarına boşluk ekleyebilirsiniz.) */
  margin-top: 10px;
}

#copy-link-area {
  text-align: center; /*Aligns the text horizontally to the center. (Metni yatayda merkeze hizalar.) */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
